fastapi==0.115.5
uvicorn[standard]==0.32.0
numpy==1.26.4
scipy==1.14.1
librosa==0.10.2
python-multipart==0.0.18
pydantic==2.9.2
setuptools==75.3.0
wheel==0.44.0
audioread==3.0.1
pooch==1.8.2
joblib==1.4.2
decorator==5.1.1
soundfile==0.12.1
soxr==0.4.0
lazy-loader==0.4
msgpack==1.1.0